html::before {
    content: ' ';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: white url("../images/background.gif");
    background-size: cover;
    will-change: transform;
}

@font-face {
    font-family: 'ringbearermedium';
    src: url('ringm___-webfont.woff2') format('woff2'),
    url('ringm___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'ringbearermedium', serif;
}

h1 {
    color: #FFD300;
}
.title{
    color: #FFD300;


}

h2 {
    color: #FFD300;
    text-align: right;
}
.goodguyhp{
    font-size: 24px;
    color: #FFD300;
    margin: 10px 0px 10px 0px;

}
.badguyhp{
    font-size: 24px;
    color: #FFD300;
    margin: 10px 0px 10px 0px;

}
.spacer {
    height: 50px;
}

.attack {
    margin: 0px 0px 0px 100px;
}

.reset {
    margin: 100px 0px 0px 250px;
    color: black;
    font-size: 24px;
}

.btn {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    padding: 100px 0 0 0;
    text-align: center;
    white-space: nowrap;
    margin: 10px 10px 10px 10px;
    /*position: absolute;*/
	display: block;
    border: solid 5px #662200;
    float: right;
    color: #FFD300;
    font-size: 16px;
    border-radius: 20%;
    display: block;
}
/*.userComm {
    text-align: left;
    position: absolute;
    display: block;
    left: 1%;
    bottom: 90%;
}

.heroProgress {
    position: absolute;
    display: block;
    left: 8%;
    bottom: 48%;
    /*	visibility: hidden;/*visible
}*/

#attack {
    color: black;
}

.monsterImg
{
    float: right;
    margin: 100px;
}

.selectText {
    height: 20px;
    min-width: 150px;
    color: #FFD300	;
}

#title {
    color: #FFD300;
    height: 20px;
    margin:10px 0px 0px 0px;
}

.monsterList {
    height: 200px;
    min-width: 150px;
}
.fightInfo {
    font-size: 40px;
    color: white;
    margin: 10px 0px 10px 0px;
}
.fightInfo2 {
    font-size: 24px;
    color: #FFD300;
    margin: 10px 0px 10px 0px;

}

.fightInfo3 {
    font-size: 24px;
    color: #FFD300;
    margin: 10px -185px 0px 0px;
    float: right;

}

.goodGuy {

    display: block;
}

.badGuy{

    display: block;
    margin-left: 10px;
}
